html {text-align: center;
font-family: helvetica, sans-serif;}

a {color:white;
font-size: 18px;}

#mainheading {font-size: 70px;
font-weight: bold;
color:white;}

#top-para {background: url("../../resources/images/the-flatiron-building.png") no-repeat;}
#links {font-size: 18px;
color:white;}

#process {font-size: 32px;
font-weight: bold;}

h3 {font-size: 23px;
font-weight: bold;}

.main-text {font-size: 14px}

#designed {font-size: 23px;
background-image: url("../../resources/images/the-flatiron-building.png");
color:white;
font-weight: bold;}
